
@import "./fonts.css";

.saleBanner{
  background-color: #FF5D5D;
  width: 100%;
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: white;

}

.saleBanner > div{
  display: flex;
  gap: 1rem;
  text-wrap: nowrap;
}

.main{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.main > section{
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;

}

.title, .link{
  font-weight: 700;
  text-transform: uppercase;
}

.title{
  font-size: 2rem;
  color: #767676;
  text-align: center;
}

.link{
  color: #973636;
  font-size: 1rem;
  position: relative;
}

.link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #973636; 
  transition: width 0.3s ease;
}

.link:hover::after {
  width: 100%; 
}


.aboutUs {
  padding: 30px;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
}

.aboutUs > div{
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
  gap: 30px;
  color: #525050
}

.aboutUs img{
  width: 100%; 
  height: 20rem; 
  object-fit: cover;
  border-radius: 8px;
}




/* Responsive adjustments */
@media (max-width: 768px) {

  .saleBanner > div{
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
  }
  .aboutUs {
    padding: 10px;
    flex-direction: column;
  }
  
  .aboutUs img{
    height: 8rem;
    max-width: 100%;
    aspect-ratio: 4/3;
  }
}

