.overlayBackground {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  overflow-y: auto;
}

.addItem {
  position: relative;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  gap: 30px;
}

.imageContainer{
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 2px rgb(160, 160, 160)
}

.image{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.imagePageContainer{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    bottom: 10px;
    padding: 10px 15px;
}

.imagePage, .nav{
    background-color: rgba(255, 255, 255, 0.818);
    padding: 5px 10px;
}

.imagePage{
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 10px;
    border-radius: 10px;


}

.nav{
    width: 2rem;
    height: 2rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease-in-out
}

.nav:hover{
    background-color: rgba(179, 179, 179, 0.818);
}



.imageDots{
    background-color: rgba(76, 76, 76, 0.492);
    border-radius: 10px;
    width: 10px;
    height: 10px;
    transition: 0.2s ease-in-out
}

.imageDotsActive{
    background-color: rgba(0, 0, 0, 0.568);
    width: 30px;

}

.table{
    display: table;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    border-radius:10px;
    overflow: hidden;
    margin-top: 10px;
}

.table thead tr th{
    padding: 15px 10px;
}

.table tbody tr td{
    padding: 10px
}

.table thead{
    background-color: rgb(155, 178, 196);
}

.imageThumbnailContainer{
    height: 4rem;
    width: 4rem;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 2px rgb(160, 160, 160);
    background-color: white;
}

.imageThumbnail{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.cartButton{
    width: 100%;
    padding: 5px;
    font-weight: bold;
}

.prices{
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: bold
}

.buttonContainer{
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

.purchase{
    padding: 5px 10px;
    background-color: white;
    border: 2px solid #2c4cb4ff;
    color: #2c4cb4ff;
    font-weight: bold;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

}

.purchase:hover{
    transform: scale(1.1);
    background-color: #2c4cb4ff;
    color: white;
    border: 3px double white
}

.purchase:disabled{
    border: 2px solid gray;
    color: gray;
    cursor: not-allowed;
}

.purchase:disabled:hover{
    transform: none;
    background-color: white;
    color: gray;
    border: 2px solid gray;
}

.input{
    width:50px;
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid rgb(191, 191, 191);
    user-select: none;
}

