.service{
    width: 100%;
    position: relative;
    height: 250px;
}
.videoContainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%; 
    overflow: hidden;
  }
  
.croppedVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
  }  

.textContainer{
    width: 35%;
    height: 250px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    flex-direction: column;
    gap: 15px;
}

.left{
    left: 0;
}

.right{
    right: 0;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block; 
}

.textLink{
    font-size: 15px;
    text-transform: uppercase;
}

.textLink::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    margin-top: 10px;
    height: 2px;
    background-color: #ffffff; 
    transition: all 0.3s ease;
    transform: translateX(0%);
  }
  
  .textLink:hover::after {
    width: calc(100% ); 
  }



  .backgroundBlock{
    display: flex;
    flex-direction: row;
    background-color: #405869;
    color: white;
  }

  .photoLeft, .photoRight, .textBlock{
    height: 350px;
  }

  .photoLeft{
    width: 70%;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
  }

  .photoRight{
    width: 70%;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  }

  .textBlock{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .textBlockLeft{
    transform: translate(50px, 0)
  }

  .textBlockRight{
    transform: translate(-50px, 0)
  }

  .serviceText{
    font-size: 32px;
  }

  .shimmerWrapper {
    position: relative;
    overflow: hidden;
    background-color: #f0f0f0;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    min-height: 200px; 
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
  }
  
  .shimmer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.4),
      transparent
    );
    animation: shimmerAnimation 1.5s infinite;
  }
  
  @keyframes shimmerAnimation {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
 

  @media(max-width: 768){
    .photoLeft, .photoRight, .textBlock{
        height: 150px;
    }

    .serviceText{
        font-size: 20px;
    }

    .textBlock{
        gap: 10px;
    }

    .learnMore{
        font-size: 10px;
    }

    .textBlockLeft{
        transform: translate(10px, 0);
    }

    .textBlockRight{
        transform: translate(-10px, 0);
    }


  }