@import "../fonts.css";

.galleryPage{
    padding: 50px 80px;
    background-color: green;
}
.title{
    font-size: 2rem;
    color: #767676;
    text-align: left;
    font-weight: bold;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.galleryReferences{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    gap: 16px;
    column-gap: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
}


.link{
    color: #9E9E9E;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    transition: all 0.2s ease;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.arrow{
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.link:hover{
    font-weight: bold;
}

.link:hover .arrow {
    font-weight: bold;
    -webkit-text-stroke: 0.5px currentColor;
    transform: scale(1.3);

}


.breadcrumbs{
    display: flex;
    gap: 10px;
    font-weight: bold;
    color: #4F71B5;
    margin-bottom: 20px;
}

.breadcrumb:hover{
    text-decoration: underline;
}

.photoGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    font-weight: bold;
}
  
.gridImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.gridImageParent{
    width: 100%;
    aspect-ratio: 1 / 1;
}

@media(max-width: 768){
    .galleryPage{
        padding: 20px;
    }

    .galleryReferences{
        display: flex;
        flex-direction: column;
    }

    .link{
        max-width: 100%
    }

    .photoGrid{
        grid-template-columns: repeat(2, 1fr);

    }


}